/* 购物车弹窗组件样式 */


.cartDrawer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 底部结算区域 */
.footerSpace {
  width: 100%;
}

/* 总计文字 */
.totalText {
  font-size: 18px;
  font-weight: 600;
}

/* 总计价格 */
.totalPrice {
  font-size: 18px;
  font-weight: 600;
  color: #f53f3f;
}

/* 底部按钮容器 */
.footerButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* 商品卡片容器 */
.itemCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 10px;
}

/* 购物车项分隔线 */


/* 商品图片 */
.itemImage {
  height: 70px;
  object-fit: contain;
  border-radius: 8px;
}

/* 商品标题 */
.itemTitle {
  max-width: 200px;
  min-width: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
}

/* 商品选项 */
.itemOptions {
  max-width: 150px;
  min-width: 150px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
}

/* 商品价格 */
.itemPrice {
  font-size: 18px;
  font-weight: 600;
  color: #f53f3f;
}

/* 数量控制区域 */
.quantityControl {
  display: flex;
  align-items: center;
  gap: 7px;
}

@media (max-width: 768px) {
  .itemCard {
    overflow: hidden;
    gap: 7px
  }
  .itemTitle {
    max-width: 120px;
    min-width: 120px;
  }
  .itemOptions {
    max-width: 50px;
    min-width: 50px;
  }
  .itemPriceQuantity {
    height: 100%;
  }

}
