/* 筛选组件样式 */
/* 选择所有文本 */
.filter {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: fit-content;

  /* BUG:在移动端，该组件的右侧会超出宽度导致显示不完全
        原因是CSS的元素宽度默认是内容宽度，再加上Padding会超出父容器宽度导致显示不完全
        解决方法是设置box-sizing: border-box; 确保padding包含在宽度内
        这样整个组件就能占满宽度了
  */
  box-sizing: border-box; 
}

/* 响应式样式 - 手机端 */
@media (max-width:768px) {
  .filter {
    width: 100%; /* 占满宽度 */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
  }
}

.filterTitle {
  font-size: 18px;
  font-weight: 600;
  /* color: #1d2129;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e6eb; */
}

.filterSection {
  margin-bottom: 20px;
}

.filterSectionTitle {
  font-size: 16px;
  font-weight: 500;
  color: #5c6065;

}

.filterOption {
  gap: 8px;
  font-size: 14px;
  color: #666e75;
  cursor: pointer;
}
.filterActions {
  display: flex;
  gap: 12px;
  padding-top: 16px;
  border-top: 1px solid #e5e6eb;
}

.filterButton {
  flex: 1;
}